<div class="home">
    
    <mat-toolbar>
        <span>Test Angular Application</span>
        <mat-nav-list class="list-horizontal">
            <div class="c">
                <a mat-list-item [routerLink]="'/Login'"> Login Google  </a>
                <a mat-list-item [routerLink]="'/LoginAzure'"> Login Azure </a>
            </div>
        </mat-nav-list>
    </mat-toolbar>

</div>

<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/Add Application'"> Add Application </a>
            <a mat-list-item [routerLink]="'/Search'"> Search </a>
            <a mat-list-item [routerLink]="'/Zen-desk'"> Zen-desk </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="main">
        <span class="item">&nbsp;
        <router-outlet></router-outlet>
        </span>
    </div>
    </mat-sidenav-content>
</mat-sidenav-container>