

<div class="home-main">
    <mat-toolbar>
        <span>Test Angular Application</span>
    </mat-toolbar>   

</div>

<mat-sidenav-container class="example-container">
    <mat-sidenav mode = "side" opened>
        <nav>
            <a mat-list-item [routerLink]="'/Add Application'"> Add Application </a>
            <a mat-list-item [routerLink]="'/Search'"> Search </a>
        </nav>
     </mat-sidenav>
    <mat-sidenav-content>
        <nav>
            <a mat-list-item [routerLink]="'/Add Application'"> Add Application </a>
            <a mat-list-item [routerLink]="'/Search'"> Search </a>
        </nav>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
</mat-sidenav-container>
